#meuPane {
  -fx-background-color: linear-gradient(from 0% 100% to 0% 0%, #053e8a 0%, #1475f5 100%);
}

.meuPaneMenu {
  -fx-background-color: linear-gradient(from 30% 100% to 0% 0%, #053e8a 0%, #1475f5 100%);
}

.meu-botao {
    -fx-background-color: #CECECE;
    -fx-text-fill: black;
    -fx-background-radius: 6;
    -fx-font-size: 14px;
    -fx-font-weight: normal;
}
.meu-botao:hover {
    -fx-background-color: #2b89ff;
}

.meu-botao-apagar {
    -fx-background-color: #ee0e0e;
    -fx-text-fill: black;
    -fx-background-radius: 6;
    -fx-font-size: 14px;
    -fx-font-weight: normal;
}
.meu-botao-apagar:hover {
    -fx-background-color: #ffffff;
}

.meu-botao-ativado {
    -fx-background-color: #2b89ff;
    -fx-text-fill: black;
    -fx-background-radius: 6;
    -fx-font-size: 14px;
    -fx-font-weight: normal;
}


.meu-botao:pressed {
    -fx-effect: innershadow(gaussian, rgba(255,255,255,0.6), 10, 0.3, 0, 0);
}


.meu-botao-login {
    -fx-background-color:  #1475f5;
    -fx-text-fill: white;
    -fx-background-radius: 6;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}
.meu-botao-login:hover {
    -fx-background-color: #2b89ff;
}

.meu-panel {
    -fx-background-color:  #1475f5;
    -fx-text-fill: white;
    -fx-background-radius: 6;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}



.meu-botao-login:pressed {
    -fx-effect: innershadow(gaussian, rgba(255,255,255,0.6), 10, 0.3, 0, 0);
    -fx-background-color: gray;
    -fx-text-fill: black;
}

.Error-visible{
    -fx-opacity: 0.86;
}

.Error-invisible{
    -fx-opacity: 0;
}

.card-tempo {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 5);
    -fx-alignment: CENTER;
    -fx-padding: 20;
    -fx-min-width: 150px;
    -fx-min-height: 120px;
    -fx-spacing: 10px;
    -fx-padding: 15px;
}

.lbl-numero {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #2196F3;
}

.lbl-titulo {
    -fx-font-size: 14px;
    -fx-text-fill: #757575;
}

